#multiEditAssistant {
	border: 0 none;
	cursor: move;
	background-color: #ffffff;
	left: 10px;
	position: fixed;
}
.tl_assistant_container:before {
	color: #666966;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
}
.tl_assistant_container {
	background: url("move.png") no-repeat scroll right top #ffffff;
	border: 3px solid #b3b6b3;
	min-width: 90px;
	padding: 5px;
	width: 300px;
}
.tl_assistant_container .tl_tbox {
	clear: both;
}

.tl_assistant_container .tl_tbox .tl_text,
.tl_assistant_container .tl_tbox .tl_textarea {
	width: 98%;
}

.tl_assistant_container .tl_tbox select.tl_chosen,
.tl_assistant_container .tl_tbox .tl_select,
.tl_assistant_container .tl_tbox .tl_mselect {
	display: block !important;
	height: 24px;
	opacity: 100 !important;
	visibility: visible !important;
	width: 100%;
}

.tl_assistant_container .tl_tbox .styled_select,
.tl_assistant_container .tl_tbox div.tl_chosen {
	display: none !important;
}

.include_checkbox {
	float: right;
}

.tl_assistant_container fieldset legend,
.tl_assistant_container legend,
.tl_assistant_container h3 {
	width: 100%;
	font-weight: bold;
	border-bottom: 1px solid #d0d0d0;
	padding-bottom: 5px;
	margin-bottom: 5px;
}